# KNN WITHOUT SKLERAN

In [16]:
import numpy as np
import pandas as pd
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt 
import seaborn as sns

# DATA

In [18]:
x = [[77,69,77,74],[92,67,68,89],[82,74,75,80],[94,68,73,69],[72,85,59,60]
     ,[93,78,89,65],[97,68,71,70],[69,78,71,74],[96,69,58,83],[94,88,86,70]]
y = ['B','B','A','B','B','A','B','B','B','B']

# Find which variable is the most in an array of variables

In [19]:

def most_found(array):
    list_of_words = []
    for i in range(len(array)):
        if array[i] not in list_of_words:
            list_of_words.append(array[i])
            
    most_counted = ''
    n_of_most_counted = None
    
    for i in range(len(list_of_words)):
        counted = array.count(list_of_words[i])
        if n_of_most_counted == None:
            most_counted = list_of_words[i]
            n_of_most_counted = counted
        elif n_of_most_counted < counted:
            most_counted = list_of_words[i]
            n_of_most_counted = counted
        elif n_of_most_counted == counted:
            most_counted = None
            
    return most_counted

# find nearest neighbors

In [20]:
def find_neighbors(point, data, labels, k=3):
    n_of_dimensions = len(point)
    neighbors = []
    neighbor_labels = []
    for i in range(0, k):
        nearest_neighbor_id = None
        smallest_distance = None
        
        for i in range(0, len(data)):
            eucledian_dist = 0
            for d in range(0, n_of_dimensions):
                dist = abs(point[d] - data[i][d])
                eucledian_dist += dist
                
            eucledian_dist = np.sqrt(eucledian_dist)
            
            if smallest_distance == None:
                smallest_distance = eucledian_dist
                nearest_neighbor_id = i
            elif smallest_distance > eucledian_dist:
                smallest_distance = eucledian_dist
                nearest_neighbor_id = i
                
        neighbors.append(data[nearest_neighbor_id])
        neighbor_labels.append(labels[nearest_neighbor_id])
        
        data.remove(data[nearest_neighbor_id])
        labels.remove(labels[nearest_neighbor_id])
    return neighbor_labels

def k_nearest_neighbor(point, data, labels, k=3):
    # If two different labels are most found, continue to search for 1 more k
    while True:
        neighbor_labels = find_neighbors(point, data, labels, k=k)
        label = most_found(neighbor_labels)
        if label != None:
            break
        k += 1
        if k >= len(data):
            break
            
    return label

Test Data

In [21]:

point = [79,68,70,74]
k_nearest_neighbor(point, x, y, k=5)

'B'

# KNN with Sklearn

In [22]:
import pandas as pd
df = pd.read_csv('/content/ma.csv')
df.head()

   S.no  Da  cat1  cat2  fat grade
0     1  77    69    77   74     B
1     2  92    67    68   89     B
2     3  82    74    75   80     A
3     4  94    68    73   69     B
4     5  72    85    59   60     B

In [23]:
X = df[['Da', 'cat1', 'cat2', 'fat']]
y = df[['grade']]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(
             X, y, test_size = 0.3, random_state = 0)

In [28]:
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [36]:
knn.predict(X_test)

array(['B', 'B', 'B'], dtype=object)

In [31]:
knn.score(X_test, y_test)

0.6666666666666666